<html>
    <head>
        <title>customer managment system</title>
    </head>
    <link rel="stylesheet"  href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
<body>
    <div class="navbar">
    <h1 class="cust">CUSTOMER MANAGMENT SYSTEM</h1>
    </div>

    <div>
        <h1 style="color:black;"><%=customer.name%></h1>
        <h1 class="h1v4">Total due amount:- <%=price%> </h1>
    </div>

    <div class="dammv2">
        <form method="post" action="/home">
            <button type="submit" class="button">GO BACK</button>
        </form>
        <form method="post" action="/undoproductdelete">
            <button type="submit" class="button" name ="undobutton" value=<%=customer.phoneno %>>Undo</button>
        </form>
        <h1 class="h1v5">Add product</h1>
        <form action="/addproduct" method="post">
            <input class="input" type="text" placeholder="  id" name="addproductid">
            <input class="input" type="text" placeholder="  product" name="addproduct">
            <input class="input" type="text" placeholder="  stage" name="addstage">
            <input class="input" type="text" placeholder="  total price" name="addprice">
            <input class="input" type="text" placeholder="  date" name="adddate">
            <button class="button" type="submit" name="phoneno" value="<%=customer.phoneno%>">➕</button>
        </form>
    </div>
    
    <div class="customers">
        <form action="/deleteproduct" method="post">
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name of product
                    </th>
                    <th>
                        Stage
                    </th>
                    <th>
                        Total price
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                <% for(i=0;i<customer.products.length;i++){%>
                    <tr>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].id%></button></td>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].name%></button></td>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].work%></button></td>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].price%></button></td>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].date%></button></td>
                        <td><button class="button" type="submit" name="deleteproduct" value=<%=customer.products[i].id%>>DELETE</button></td>
                    </tr>
                    <%}%>
            </table>
        </form>
    </div>
    <div class="damm">   
        <h1 class="h1v2">Delete Customer</h1>
        <form action="/delete" method="post">
            <button type="submit" class="button" name="customerphoneno" value=<%= customer.phoneno %>><%= customer.phoneno %></button>
            </form>
    </div>
</body>
</html>