<html>
    <head>
        <title>customer managment system</title>
    </head>
    <link rel="stylesheet"  href="css/styles.css">
<body>
    <div class="navbar">
    <h1>CUSTOMER MANAGMENT SYSTEM</h1>
    </div>

    <div>
        <h1 style="color:black;"><%=customer.name%></h1>
    </div>

    <div class="damm">
        <h1 class="h1v2">Add product</h1>
        <form action="/addproduct" method="post">
            <input class="input" type="text" placeholder="product" name="addproduct">
            <input class="input" type="text" placeholder="stage" name="addstage">
            <input class="input" type="text" placeholder="total price" name="addprice">
            <button class="button" type="submit" name="phoneno" value="<%=customer.phoneno%>">+</button>
        </form>
    </div>
    
    <div class="customers">
        <h1 class="mainheading">Products</h1>
        <form action="/deleteproduct" method="post">
            <table>
                <tr>
                    <th>
                        Name of product
                    </th>
                    <th>
                        Stage
                    </th>
                    <th>
                        Total price
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                <% for(i=0;i<customer.products.length;i++){%>
                    <tr>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].name%></button></td>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].work%></button></td>
                        <td><button class="button" type="button" name="customername" value=<%=customer %>><%=customer.products[i].price%></button></td>
                        <td><button class="button" type="submit" name="deleteproduct" value=<%=customer.products[i].name%>>DELETE</button></td>
                    </tr>
                    <%}%>
            </table>
        </form>
    </div>
    <div class="damm">   
        <h1>Delete Customer</h1>
        <form action="/delete" method="post">
            <button type="submit" class="button" name="customerphoneno" value=<%= customer.phoneno %>><%= customer.phoneno %></button>
            </form>
    </div>
</body>
</html>