<html>

<head>
    <title>customer managment system</title>
</head>
<link rel="stylesheet" href="css/styles.css">

<body>
    <div class="navbar">
        <h1>CUSTOMER MANAGMENT SYSTEM</h1>
    </div>

    <div class="damm">
        <form method="post" action="/undocustomerdelete">
            <button type="submit" class="button" name ="undobutton">Undo</button>
        </form>
        <h1 class="h1v2">Add Customer</h1>
        <form action="/" method="post">
            <input class="input" type="text" placeholder="New Customer" name="addcustomer">
            <input class="input" type="text" placeholder="Phone No" name="addphone">  
            <button class="button" type="submit">➕</button>
        </form>
    </div>

    <div class="damm1">
        <h1 class="h1v2">Search Customer</h1>
        <form action="/searchcustomer" method="post">
            <input class="input" type="text" placeholder="Phone No" name="addphone">  
            <button class="button" type="submit">🔍</button>
        </form>
    </div>

    <div class="customers">
        <h1 class="mainheading">Customers</h1>
        <form action="/customerpage" method="post">
            <table>
                <tr>
                    <th>
                        Name of customer
                    </th>
                    <th>
                        Phoneno
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Products :-Date
                    </th>
                <% for(i=0;i<customers.length;i++){%>
                    <tr>
                        <td><button class="button" type="button" name="customername" value=<%=customers[i].name %>><%=customers[i].name %></button></td>
                        <td><button class="button" type="submit" name="customerphoneno" value=<%=customers[i].phoneno %>><%=customers[i].phoneno %></button></td>
                        <td>
                            <% price=0; %>
                            <% for(j=0;j<customers[i].products.length;j++){ %>
                                <% price=price+parseInt(customers[i].products[j].price) %>
                            <% } %>
                            <button class="button" type="button" name="customerprice" value=<%=customers[i].name %>><%= price %></button>
                        </td>
                        <td>
                            <% for(j=0;j<customers[i].products.length;j++){ %>
                                <button class="button" type="button" name="customerporducts" value=<%=customers[i].name %>><%= customers[i].products[j].name + ":-" %><%= customers[i].products[j].date %></button>
                            <% } %>
                        </td>
                    </tr>
                <%}%>
            </table>
        </form>
    </div>

</body>

</html>