<html>

<head>
    <title>customer managment system</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="icon" type="image/x-icon" href="images/favicon.ico">

<body>
    <div class="navbar">
        <h1 class="cust">XXX BOTIQ</h1>
    </div>

    <div class="damm">
        <form method="post" action="/undocustomerdelete">
            <button type="submit" class="button" name ="undobutton">Undo</button>
        </form>
        <h1 class="h1v2">Add Customer</h1>
        <form action="/home" method="post">
            <input class="input" type="text" placeholder="New Customer" name="addcustomer">
            <input class="input" type="text" placeholder="Phone No" name="addphone">  
            <button class="button" type="submit">➕</button>
        </form>
    </div>

    <div class="damm1">
        <h1 class="h1v3">Search Customer</h1>
        <form action="/searchcustomer" method="post">
            <input class="input" type="text" placeholder="  Phone No" name="addphone">  
            <button class="button" type="submit">🔍</button>
        </form>
    </div>

    <div class="customers">
        <form action="/customerpage" method="post">
            <table>
                <tr>
                    <th>
                        <h2>Name of customer</h2>
                    </th>
                    <th>
                        <h2>Phoneno</h2>
                    </th>
                    <th>
                        <h2>Cost</h2>
                    </th>
                    <th>
                        <h2>Products :-Date</h2>
                    </th>
                <% for(i=0;i<customers.length;i++){%>
                    <tr>
                        <td><button class="button" type="button" name="customername" value=<%=customers[i].name %>><%=customers[i].name %></button></td>
                        <td><button class="button" type="submit" name="customerphoneno" value=<%=customers[i].phoneno %>><%=customers[i].phoneno %></button></td>
                        <td>
                            <% price=0; %>
                            <% for(j=0;j<customers[i].products.length;j++){ %>
                                <% price=price+parseInt(customers[i].products[j].price) %>
                            <% } %>
                            <button class="button" type="button" name="customerprice" value=<%=customers[i].name %>><%= price %></button>
                        </td>
                        <td>
                            <% for(j=0;j<customers[i].products.length;j++){ %>
                                <button class="button" type="button" name="customerporducts" value=<%=customers[i].name %>><%= customers[i].products[j].name + ":-" %><%= customers[i].products[j].date %></button>
                            <% } %>
                        </td>
                    </tr>
                <%}%>
            </table>
        </form>
    </div>

    <section class="service" id="service">

        <h1 class="heading"> our <span>services</span> </h1>
    
        <div class="box-container">
    
            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <h3>venue selection</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>
    
            <div class="box">
                <i class="fas fa-envelope"></i>
                <h3>invitation card</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>
    
            <div class="box">
                <i class="fas fa-music"></i>
                <h3>entertainment</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>
    
            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>food and drinks</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>
    
            <div class="box">
                <i class="fas fa-photo-video"></i>
                <h3>photos and videos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>
    
        </div>
    
    </section>

    <section class="footer">

        <div class="box-container">
    
            <div class="box">
                <h3>QUICK LINKS</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> service </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> about </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> gallery </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> price </a>
            </div>
    
            <div class="box">
                <h3>CONTACT INFO</h3>
                <a href="#"> <i class="fas fa-phone"></i>+91 9448483336</a>
                <a href="#"> <i class="fas fa-phone"></i>+91 9448483335</a>
                <a href="mailto:leenacreation4u@gmail.com"> <i class="fas fa-envelope"></i>leenacreation4u@gmail.com</a>
                <a href="mailto:avihanvaisri@gmail.com"> <i class="fas fa-envelope"></i>avihanvaisri@gmail.com</a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i>BALLARI,KARNATAKA,INDIA - 583102 </a>
            </div>
    
            <div class="box">
                <h3>FOLLOW US</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>
    
        </div>
 </section>

</body>

</html>